body {
  background-image: url('https://play-lh.googleusercontent.com/Yyc3jexiNciR4aGJk7uRcC6r1IrN8WcN0-af5Grd1dlvDyTnyCSrbj13Wznba0LwVufs=w412-h220-rw');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
